@import '../base/typography';

body {
  background-color: #f8f8f8;
}

button {
  width: 100px;
  height: 34px;
  color: #000000;
  background: #f4e041;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  @include font-styling;
  font-size: 16px;
}
