@import '../abstracts/mixins';

.users-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin: 50px 6px;
  @include tabletMinBreakpoint {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 50px -8px;
  }
  @include desktopMinBreakpoint {
    margin: 50px -14.5px;
  }
}
